* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.eco__feature-img {
    margin: 2rem;
    max-width: 45%;
}

.eco__feature-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.eco__feature {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.eco__feature-content {
    font-size: 15px;
    font-family: var(--font-primary);
    font-weight: 500;
    line-height: 1.7;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2rem 0 2rem;
    max-width: 50%;
}

.eco__feature-content h1 {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
}

/* .eco__feature-button {
        display: inline-block;
        background-color: var(--color-tertiary);
        color: #fff;
        border-radius: 100px;
        border: 1px solid var(--color-tertiary);
        height: auto;
        width: auto;
        padding: 18px 30px;
        line-height: 1.25em;
        vertical-align: top;
        font-weight: 400;
        transition: opacity .3s,color .3s,background-color .3s,border-color .3s;
        cursor: pointer;
}

.eco__feature-button:hover {
    background-color: #fff;
    border-color: var(--color-tertiary);
    color: var(--color-tertiary);
    opacity: 0.8;
} */

.eco__feature-text {
    margin: 2rem;
    line-height: 1.5;
}

.eco__feature-subheader {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .eco__feature {
        flex-direction: column;
    }

    .eco__feature-content {
        padding: 0 1rem;
        margin: 1.5rem 0;
        max-width: 100%;
    }

    .eco__feature-img {
        margin-bottom: 1rem;
        max-width: 100%;
    }
}

@media screen and (max-width: 460px) {
    .eco__feature-content {
        padding: 0;
        margin-top: 1rem;
    }

    .eco__feature-img {
        margin-bottom: 1rem;
    }

    .eco__feature-button {
        font-size: 0.7rem;
        padding: 0.5rem 1rem;
    }
}
