.eco__products {
    display: flex;
    flex-direction: column;
    font-family: var(--font-primary);
    background-color: var(--color-secondary);
}

.eco__products-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.eco__products-heading {
    font-family: var(--font-primary);
    font-weight: 1000;
    padding: 1rem;
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: capitalize;
}


@media screen and (max-width: 600px){
    .eco__products-heading{
        font-size: 1.5rem;
        text-align: center;
    }
    .eco__desktop{
        display: none;
    }
}

@media screen and (min-width: 600px){
    .eco__mobile{
        visibility: hidden;
    }
}